/*footer*/
.cid-footer-fix {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-footer-fix .content {
    text-align: center;
  }
  .cid-footer-fix .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-footer-fix .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-footer-fix .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-footer-fix .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-footer-fix .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-footer-fix .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-footer-fix .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-footer-fix .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-footer-fix .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-footer-fix .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-footer-fix .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-footer-fix .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}